@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700;900&display=swap');
*{
  box-sizing: border-box;
}

:root{
  --PaynerColor:#5050ff;
  --Black:#000;
  --SacendColor:#1B1B1B;
  --PaynerColorLaght:#5050ff6a;
}
.PaynerColorLaght{
  background: var(--PaynerColorLaght);
}

.text_PaynerColor{
  color: var(--PaynerColor);
}

.PaynerColor{
  background: var(--PaynerColor);
}
.SacendColor{
  background: var(--SacendColor);
}


body {
  color: rgb(var(--Black));
  color:#eee;
  font-family: 'Cairo', sans-serif;
}
.home_header{
  height: calc(100vh - 48px);
  min-height: 500px;
}
.sikle{
  bottom: 0px ;
  left:  calc(50% - 96px );
}
::selection{
  background:  var(--PaynerColor);
}
::-webkit-scrollbar{
  background: none;
}
.Mune{
  height: calc(100vh - 56px);
  min-height: 400px;
}
.Mune .btn_list{
  border-radius: 0px 10px 10px 0px;

}
.H_logo{
  height: calc(100vh - 56px);
  min-height: 400px;
}
.inp{
  opacity: 0;
}