@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700;900&display=swap');
*{
  box-sizing: border-box;
}
body {
  color: rgb(var(--foreground-rgb));
  font-family: 'Cairo', sans-serif;
}
.home_header{
  height: calc(100vh - 48px);
  min-height: 500px;
}
.sikle{
  bottom: 0px ;
  left:  calc(50% - 96px );
}
::selection{
  background:  #06b6d4;
}
::-webkit-scrollbar{
  background: none;
}